## Army all over the world


### members names:  
May Ashkenazi

Barak Wizberger

Eden Jorno

Yuval Fainberg

### Data source: 
https://www.kaggle.com/datasets/prasertk/military-power-by-country-2022

In [4]:
url= 'https://github.com/mayas9/my-project/raw/main/global%20firepower%202022%20wide.csv'

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib as mpl
from IPython.core.display import Image

In [16]:
Image(url= 'https://raw.githubusercontent.com/mayas9/my-project/main/army%20pic.jpg', width= 800 , height= 600)

In [17]:
Image(url= 'https://raw.githubusercontent.com/mayas9/my-project/main/%D7%A9%D7%A8%D7%99%D7%95%D7%9F3.jpg', width= 800 , height= 600)

In [18]:
army= pd.read_csv(url)

In [19]:
army.head()

,country,country_code,Active Personnel,Aircraft Carriers,Armored Vehicles,Attack Helicopters,Available Manpower,Coastline Coverage,Corvettes,Dedicated Attack,...,Square Land Area,Submarines,Tanker Fleet,Tanks,Total Aircraft Strength,Total Population,Towed Artillery,Trainers,Transports,Waterways (usable)
0,Afghanistan,AFG,0,0,530,0,14611901,0,0,0,...,652230,0,0,0,0,37466414,60,0,0,1200
1,Albania,ALB,8000,0,76,0,1513309,362,0,0,...,28748,0,0,0,19,3088385,0,0,0,41
2,Algeria,ALG,130000,0,6461,45,20916812,998,6,22,...,2381741,6,5,2196,552,43576691,450,87,58,0
3,Angola,ANG,107000,0,1210,15,6728529,1600,0,18,...,1246700,0,0,320,299,33642646,585,61,30,1300
4,Argentina,ARG,83000,0,800,0,20180574,4989,9,6,...,2780400,2,2,349,218,45864941,172,70,22,11000

In [23]:
army.columns = army.columns.str.replace(' ','_')

In [24]:
army.head()

,country,country_code,Active_Personnel,Aircraft_Carriers,Armored_Vehicles,Attack_Helicopters,Available_Manpower,Coastline_Coverage,Corvettes,Dedicated_Attack,...,Square_Land_Area,Submarines,Tanker_Fleet,Tanks,Total_Aircraft_Strength,Total_Population,Towed_Artillery,Trainers,Transports,Waterways_(usable)
0,Afghanistan,AFG,0,0,530,0,14611901,0,0,0,...,652230,0,0,0,0,37466414,60,0,0,1200
1,Albania,ALB,8000,0,76,0,1513309,362,0,0,...,28748,0,0,0,19,3088385,0,0,0,41
2,Algeria,ALG,130000,0,6461,45,20916812,998,6,22,...,2381741,6,5,2196,552,43576691,450,87,58,0
3,Angola,ANG,107000,0,1210,15,6728529,1600,0,18,...,1246700,0,0,320,299,33642646,585,61,30,1300
4,Argentina,ARG,83000,0,800,0,20180574,4989,9,6,...,2780400,2,2,349,218,45864941,172,70,22,11000

ValueError: No axis named 10 for object type Series